@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove spinner arrows in Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinner arrows in Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

/* Remove focus outline from textarea and input */
input:focus{
  outline: none;
}

.breathe {
  animation: breathe 3s ease-in-out infinite;
}

@keyframes breathe {
  0%, 100% {
  transform: scale(1);
  }
  50% {
  transform: scale(1.05);
  }
}

.twerk {
  animation: twerk 1.5s ease-in-out infinite;
}

@keyframes twerk {
  0% {
    transform: rotate(0deg) translateY(0);
  }
  15% {
    transform: rotate(2deg) translateY(-2px);
  }
  30% {
    transform: rotate(-3deg) translateY(-1px);
  }
  45% {
    transform: rotate(0deg) translateY(0);
  }
  100% {
    transform: rotate(0deg) translateY(0);
  }
}